@import url(https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap);
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Roboto Mono', monospace;
  background-color: #121212;
}

.CodeMirror {
  min-height: calc(100vh - 60px);
  font-size: 18px;
  width: 77.7%;
  overflow: hidden;
}